.banner {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(./images/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  padding-top: 100px;
}
